SECRET_KEY=django-insecure-change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost 127.0.0.1 0.0.0.0

POSTGRES_DB=draft_together
POSTGRES_USER=draft_user
POSTGRES_PASSWORD=draft_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
